<!doctype html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>INDEX</title>
</head>
<body>
<div layout:fragment="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <i class="material-icons">library_books</i>
          </div>
          <h4 class="card-title">ABSENCES</h4>
        </div>
          <div class="material-datatables">
            <table cellspacing="0" class="table table-striped table-no-bordered table-hover" id="datatables"
                   style="width:100%" width="100%">
              <thead>
              <tr>
                <th>Hours Absent</th>
                <th >Name Of Student</th>
                <th th:if="${id} == 12"> send email </th>
              </tr>
              </thead>
              <tbody>
              <tr >
                <td th:text="${name} + hours"></td>
                <td th:text="${id}"></td>
                <td><button class="btn-bd-yellow" >Send mail</button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- end content-->
      </div>
      <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
  </div>
</div>
</body>
</html>